/* general styles */

/* fullscreen, baby! */
 html, body {
    height:100%;
    overflow:hidden;
}
body {
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
}
#fb-mobilebg { 
    background-color: #339E74;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#fb-overlay {
    height: 100%;
    width:100%;
    position: absolute;
    display: none;
    background: rgba(0,0,0, 0.65);
    z-index: 2;
    opacity: 0;
}

#fb-logo {
    display: none;
}
.splash #fb-logo {
    display: block;
}
#fb-logo2 {
    background-image: url('../../img/flatbook.png');
    background-size: 162px 45px;
    width: 162px;
    height: 45px;
    margin-left: 0;
}
#fb-logo2 {
    position: absolute;
    bottom: 40px;
    opacity: 0; visibility: hidden;
    z-index: 2;
}

#fb-keywords {
    background: rgba(29, 114, 75, 0.75);
    border: 1px solid #277758;
    border-right: none;
    color: #FFF;
    height: 55px;
    font-size: 22px;
}
#fb-search-btn1 {
    background: rgba(29, 114, 75, 0.75);
    border-left: none;
    height: 55px;
}
#fb-search-btn1[disabled] {
    background: rgba(29, 114, 75, 0.75);;
}
#fb-search-btn1  .glyphicon {
    padding-top: 5px;
}
#fb-omni input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #D9D9D9;
}
#fb-omni input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #D9D9D9;
}
#fb-omni input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #D9D9D9;
}
#fb-omni  input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #D9D9D9;
}


/**/
/* map */
/**/
 #map-canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0;
    left:0;
}
.bg {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
    opacity: 0.75;
    top: 0;
}
#fb-bg2 {
    position: absolute;
    opacity: 0;
    z-index: 2;
}
/* footer */
#fb-listings {
    min-height: 260px;
    color: #000;
    overflow-y: hidden;
    z-index: -1; 
    position: relative;
    height: 100%;
    padding-bottom: 400px;
    margin-top: 65px;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
}
#fb-listings-results {
    padding-top: 20px;
}
#fb-listings h3, #fb-listings h2 {
    color: #555;
}
#fb-listings .fb-card {
    border: 1px solid #444;
    -webkit-box-shadow: 1px 1px 6px 1px #000;
    box-shadow: 1px 1px 6px 1px #000;
}
#fb-listings .fb-card img {
    width: 100%;
}

#fb-citiesFooter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
    font-size: 150%;
    padding-top: 15%;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
#fb-citiesFooter h3 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
    margin-bottom: 30px;
    font-size: 200%;
}
#fb-citiesFooter h3, #fb-citiesFooter ul {
    text-align: center;
} 

#fb-close-cities {
    position: absolute;
    right: 0;
    color: #fff;
    font-weight: bold;
    background: none;
    border: none;
    font-size: 160%;
}
#fb-citiesFooter ul {
    padding-left: 0;
    -webkit-column-count: 3;  -webkit-column-gap: 15px;
    -moz-column-count: 3;     -moz-column-gap: 15px;
    column-count: 3;          column-gap: 15px;
    column-width:200px;
    -moz-column-width:200px; /* Firefox */
    -webkit-column-width:200px;
    overflow: visible;
}
#fb-citiesFooter li {
    list-style: none;
    padding: 5px;
    /*float: left;
    clear: left;*/
}
#fb-citiesFooter li a, #fb-citiesFooter li a:active, #fb-citiesFooter li a:visited {
    color: #fff;
} 
#fb-citiesFooter li strong {
    font-size: 110%;
}

#fb-selected-listing {
    position: absolute;
    z-index: 10;
    right: 100px;
    top: 110px;
    opacity: 0;
    display: none;
}
#fb-selected-listing .fb-card {
    width: 250px;
}
.footer .footer_header {
    color: #c4c4c4;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15px;
}
.footer {
    background-color: #252528;
    height: 1000px;
}

.contain {
    text-align: center;
}
#fb-holder2 {
    position: relative;
    z-index:10;
    margin-top: 20%;
}

.bhide {
    margin-top: -40px;
}

.active-cities {
    margin-top: -500px !important;
}

@media (min-width: 768px) { 
    #fb-listings {
        margin-top: 90px;
    }
}


/* search */
 .omni {
    position: relative;
    z-index: 5;
    text-align: center;
}



.visible-md .omni {
    width: 75%; background: red;
}
.omni h2 {
    color: #ffffff;
    font-family:'Source Sans Pro', sans-serif !important;
    font-size: 40px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.fb-error {
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
}
#fb-slogan, #fb-city {
    visibility: hidden;
    opacity: 0;
}
.holder {
    position: relative;
}
.omni input {
    display: inline;
    width: 75%;
}
#fb-search {
    visibility: hidden;
    opacity: 0;
}
/* second search */
 #fb-omni2 {
    /*position: absolute;
    z-index: 5; */
    max-width: 80%;
}
.splash #fb-omni2 {
    opacity: 0;
    visibility: hidden;
}
/* filters */
#fb-filtersBtn {
    text-align: center;
    width: 100px;
    position: absolute;
    top: 40%;
    right: 245px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

.search {
    width:30%;
}
.hiddenfb, #sfb-filtersHide, #fb-resultsbutton, #fb-filtersbutton, #fb-drawer, #fb-card, #fb-nothing {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.die {
    visibility: hidden !important;
    opacity: 0 !important;
    display: none !important;
}

.shown, #fb-filtersShow, #fb-filtersHide {
    visibility: visible;
    opacity: 1;
    display: block;
}
#fb-drawer {
    z-index: 3;
    padding: 5px 5px 6px 9px;
    background: rgba(255, 255, 255, 0.25);
    margin-left: -7px;
}
#fb-drawer-button {
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 6px !important;
    -webkit-border-bottom-right-radius: 6px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 6px !important;
    -moz-border-radius-bottomright: 6px !important;
    -moz-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 0 !important;
    margin-left: -3px;
}
#fb-search-btn2 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#fb-filters label {
    width: 50px;
    color: #999;
}
#fb-filters h4 {
    padding: 5px;
    background: rgba(0, 0, 0, 0.25);
}
#fb-filters-panel {
    background-color: #666666;
    border: 1px solid #000000;
    height: 100%;
    float: left;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    padding-top: 10px;
}

/**/
/* datepicker */
/**/
.datepicker {
    background: #FFF;
    color: #000;
}
.drawer input.active {
    background: rgba(51, 158, 116, 0.3) !important;
}
.range {
    border-top: 1px solid #DDD;
}
.datepicker thead { 
    color: #277758;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    /* background-color: #006DCC; */
    background-image: -moz-linear-gradient(top, #339E74, #277758);
    background-image: -ms-linear-gradient(top, #339E74, #277758);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#339E74), to(#277758));
    background-image: -webkit-linear-gradient(top, #339E74, #277758);
    background-image: -o-linear-gradient(top, #339E74, #277758);
    background-image: linear-gradient(top, #339E74, #277758);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339E74', endColorstr='#277758', GradientType=0);
    border-color: #164432 #164432 #277758;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#fb-filters-panel h3 {
    margin-top: 0;
}
#fb-filters2 {
    position: absolute;
}
#fb-search2 {
    z-index: 4;
    margin-left: 30px;
}
.filters {
    text-align: center;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #666;
}

#fb-filters {
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    display: none;
    opacity: 0;
    visibility: hidden;
    width: 300px;
    /*background: #339E74;*/
    margin-top: 50px;
    position: absolute;
}
#fb-filters .drawer {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3),0 -3px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    outline: none;
    overflow: hidden;
    text-align: center;
    z-index: 0;
    padding: 10px;
    -webkit-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    margin-bottom: 5px;
    overflow: auto;
}
.datepicker .table-condensed, .datepicker-inline {
    width: 100%;
}
.badge {
    background-color: #FFF;
    border: 1px solid #277758;
    color: #277758;
    border-radius: 20px;
    line-height: inherit;
    margin-bottom: 3px;
}
.badge:hover, .badge.active {
    background: #339E74;
    color: #FFF;
    cursor: pointer;
}

#fb-filters input, #fb-filters select {
    padding: 2px;
    background: transparent;
    border: none;
    webkit-box-shadow: none;
    box-shadow: none;
}
#fb-filters label {
    color: #277758;
    display: inline;
}
#fb-ft-checkin, #fb-ft-checkout, #fb-ft-guests {
    width: 80px;
    background-color: #e8e8e8;
    margin-bottom: 2px;
}
#fb-ft-guests { display: none;}

#fb-omni2 input:focus, #fb-omni2 select:focus {
    background: #ffffff;
    color: #000000;
}
#fb-keywords2
{
    background: #fff;
    background: rgba(255, 255, 255, 0.35);
    color: #fff;
    border: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;   
    /*color: #2F916B;
    border: 0;*/
}

#fb-omni2 input::-webkit-input-placeholder, #fb-omni2 input:-moz-placeholder, #fb-omni2 input::-moz-placeholder, #fb-omni2  input:-ms-input-placeholder{
    /* WebKit browsers */
    color: #c4c4c4;
}


/**/
/*bootstrap overrides*/
/**/

.btn-fb {
    color: #FFF;
    background-color: #339e74;
    border-color: #277758;
    background: -webkit-gradient(linear, left top, left bottom, from(#277758), to(#277758), color-stop(.01, #277758), color-stop(.02, #339E74), color-stop(.03, #339E74), color-stop(.5, #339E74), color-stop(.51, #277758));
}
.btn-fb:hover, .btn-fb:focus, .btn-fb:active, .btn-fb.active, .open .dropdown-toggle.btn-fb {
    color: #FFF;
    background-color: #277758;
    border-color: #164432;
}
.input-fb-lg {
    height: 40px;
    font-size: 17px;
}
.input-md {
    height: 35px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1;
    border-radius: 6px;
}


/**/
/*buttons*/
/**/
#fb-mapbutton, #fb-listingbutton {
    position: absolute;
    top: 12px;
    width: 200px;
    margin-left: -100px;
    left: 50%;
    padding: 10px 0 15px;
    z-index: 6;
}
#fb-listingbutton 
{
    z-index: 100;
}
#fb-mapbutton a, #fb-listingbutton a {
    width: 200px;
}
#fb-resultsbutton {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
#fb-resultsbutton a, #fb-resultsbutton a:visited, #fb-resultsbutton  a:active {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.button {
    display: inline-block;
    cursor: pointer;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
    z-index: 7;
    color: #ffffff;
    text-align: center;
}
.results-button {
    position: absolute;
}

#fb-resultsbutton:hover {
/*    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;*/
    padding-bottom: 15px;
}
/*.results-button:hover {
    background: rgba(29, 114, 75, 0.75) !important;
}*/
.number {
    color: #9ABC32;
    font-weight: bold;
    font-size: 140%;
}

#fb-card {
    position: absolute;
}
.gm-style-iw .iw-shortdesc, .gm-style-iw .iw-location {
    border-bottom: none;
    padding-bottom: 0; 
    margin-bottom: 0;
}
.fb-card {
    background-color: white;
    padding: 10px;
    width: 99%;
    margin-bottom: 10px;
}
.iw-actions {
    text-align: center;
    margin-top: 10px;
}
.iw-actions .btn {
    margin-left: 10px;
}
#fb-infowindow {
    /*position:absolute;
    z-index: 4;
    width: 300px;
    height: 500px;
    right: 20%;
    top: 100px; */
    width: 273px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: center;
}
.iw-title {
    font-weight: bold !important;
    color: #ffffff;
    font-size: 120% !important;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
}
.iw-image {
    margin-top: 25px;
    padding-top: 170px;
}
.iw-foot {
    padding: 5px;
    text-align: center;
    overflow: hidden;
}
.iw-book {
    margin-right: 100px;
}
.iw-price, .iw-bed, .iw-bath, .iw-sleep {
    font-size: 130% !important;
    font-weight: bold !important;
    color: #277758;
}
.iw-price {
    font-size: 200% !important;
}
.iw-bed, .iw-bath, .iw-sleep {
    color: #357EBD;
    text-align: center;
}
.iw-stat {
    margin-right: 10px;
}
.iw-desc {
    width: 300px;
    margin-left: 10px;
    padding-bottom: 5px;
    text-align: left;
}
.iw-shortdesc, .iw-foot {
    color: #6F6F6F;
}
.iw-location, .iw-shortdesc {
    margin-bottom: 10px;
    text-align: left;
    color: #333;
}

.iw-shortdesc {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    text-align: left;
}

#fb-selected-listing .fb-card {
    background-color: rgba(0,0,0,0.25);
}
#fb-selected-listing .fb-card .iw-location, #fb-selected-listing .fb-card .iw-shortdesc, #fb-selected-listing .fb-card .iw-foot {
    color: #fff;
}
#fb-selected-listing a.card-nav, #fb-selected-listing a.card-nav:active {
    color: #fff;
}
/* typeahead override */
 ul.typeahead {
    width: 100%;
    text-align: left;
}
/* override bootstrap */
 .btn-lg {
    height: 45px;
}

.overlay {
    display: block;
    text-align: center;
    color: #FFF;
    font-size: 60px;
    height: 40px;
    opacity: 0.9;
    background: #339e74;
    border: solid 1px #164432;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 1px;
    width: 25px;
}
.overlay_arrow.above {
    bottom: -17px;
    position: relative;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #164432;
}





/**/
/* listing */
/**/
#fb-listing {
    position: absolute;
    z-index: 99;
    top: 80px;
    /*width: 90%;
    margin-left: 5%;*/
    height: 100%;
    width: 100%;
}
#fb-listing .row {
    background-color: #F1F1F1;
}

.fb-li-menu {
    width: 160px;
    padding-top: 100px;
    text-align: right;
    border-top: 1px solid #ccc;
}
@media (min-width: 1200px) { 
    .fb-li-menu {
        width: 200px;
    }
}
.fb-li-menu .navbar {
    padding-right: 10px;
}
.fb-li-listing {
    background-color: #ffffff;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #CCC;
}
#fb-listing .container {
    background: white;
    height: 95%;
    margin-top: 10px;
    padding-bottom: 90px;
    overflow-y: scroll;

}

.fb-li-price {
    text-align: center;
    font-size: 140%;
    padding: 15px 0;
    margin-top: 100px;
}
.fb-li-price .iw-priceunit {
    margin-bottom: 15px;
}
#li-photos img {
    max-width: 100%;
}

