﻿/**/
/* nav */
/**/
 #fb-nav {
     visibility : hidden;
     display    : none;
 }
#fb-navbar {
    z-index       : 6 !important;
    height        : 55px;
    /*background  : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), color-stop(0.01, #000), color-stop(0.02, #555), color-stop(0.03, #2D2D2D), color-stop(0.5, #151515), color-stop(0.51, #000), to(#000));*/
    /*padding-top : 0;*/
}
#fb-navbar .container {
    margin-top : 0;
}
.menu {
    font-family  : 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    margin-right : 10px;
    color        : #fff;
}
.fb-nav {
    font-family  : 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    width        : 85%;
    text-align   : center;
    padding-left : 15%;
}
.navbar-header {
    width : 100%;
}
.navbar h1 {
    display : inline;
}
.navbar-inverse .navbar-toggle {
    border : none;
    margin : 10px 0 0 0;
}
.navbar-toggle .icon-bar {
    height : 4px;
}
#fb-navbar .navbar-header button{
    display     : block;
    font-family : 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size   : 20px;
}
.navbar.navbar-inverse {
    background : transparent;
    border     : none !important;
}
.fb-search-type {
    width : 100%;
    float : left;
}
.fb-search-type button span {
    margin-left : 5px;
}
#fb-logo {
    float  : left;
    margin : 0;
}
.container>.navbar-header, .container>.navbar-collapse {
    margin-right : 0; 
    margin-left  : 0;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background : transparent;
    outline    : none;
}
.nav>li.active a {
    color       : #2F916B;
    font-weight : bold;
}

/**/
/* Desktop overrides */
/**/
@media (min-width: 768px) { 
    .fb-search-type {
        width: 300px;
        margin-top: 0;
    }
    #fb-filters {
        width: 300px;
    }
    #fb-navbar {
        background: transparent;
        height: 90px;
        padding-top: 10px;
    }
    .navbar-inverse .navbar-toggle {
        margin: 0;
    }
    #fb-navbar .container {
        padding-top: 10px;
    }
}