﻿<!DOCTYPE html>
<html>
<head>
    <title>FLATBOOK</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="css/compiled/bootstrap-overrides.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/compiled/theme.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic'
        rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet'
        type='text/css' />
    <link rel="stylesheet" href="css/compiled/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/compiled/animator.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-datetimepicker.min.css"
        media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/lib/datepicker.css" media="screen, projection" />
    <!-- <link rel="stylesheet" type="text/css" href="css/compiled/ladda.min.css" media="screen, projection" /> -->
    <link rel="stylesheet" type="text/css" href="css/compiled/ladd.css" media="screen, projection" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>
<body class="pull_top" id="body">
    <script type="text/html" id="fb-listing-tpl">
        <div class="fb-card" id="selListing-{{id}}">
            <div class="iw-image" style="background: url('{{imageUrls.0}}')">
                <div class="iw-title">{{title}}</div>
            </div>

            <div class="iw-foot">
                <div class="iw-location">{{location}}</div>
                <div class="iw-shortdesc">{{shortDescription}}</div>

                <div class="pull-left iw-stat">
                    <div class="iw-bedunit">beds</div>
                    <div class="iw-bed">{{beds}}</div>
                </div>

                <div class="pull-left iw-stat">
                    <div class="iw-bathunit">baths</div>
                    <div class="iw-bath">{{baths}}</div>
                </div>

                <div class="pull-left iw-stat">
                    <div class="iw-sleepunit">sleeps</div>
                    <div class="iw-sleep">{{accomodates}}</div>
                </div>

                <div class="pull-right iw-stat">
                    <div class="iw-priceunit">per night</div>
                    <div class="iw-price">{{price}}</div>
                </div>
            </div>
            <div class="iw-actions">
                <a href="#" class="btn btn-fb">Call us</a><a href="#" class="btn btn-fb">Book it</a>
            </div>
        </div>
    </script>
    <script type="text/html" id="fb-listing-result-tpl">
        <div id="li-photos">
            <h2>The Plateau Experience</h2>
            <h3>{{location}}</h3>
            <img src="{{imageUrls.0}}" />
        </div>
        <div id="li-desc">
            <h3>Description</h3>
            {{description}}
        </div>
        <div id="li-amen">
            <h3>Amenities</h3>
        </div>
        <div id="li-cal">
            <h3>Calendar</h3>
            
        </div>
        <div id="li-loc">
            <h3>Location</h3>
        </div>
        <div id="li-terms">
            <h3>Terms &amp; Conditions</h3>
            {{rules}}
        </div>       
    </script>
    <script type="text/html" id="fb-listings-tpl">
    {{#listings}}
    <div class="fb-card clearfix" id="listing-{{id}}" data-beds="{{beds}}" data-baths="{{baths}}" data-avail-start="{{#available}}{{start}},{{/available}}" data-avail-end="{{#available}}{{end}},{{/available}}">
    <div class="iw-image" style="background: url('{{imageUrls.0}}')">
    <div class="iw-title">{{title}}</div>
    </div>

    <div class="iw-foot">
    <div class="iw-location">Le plateau, Montreal</div>
    <div class="iw-shortdesc">{{shortDescription}}</div>

    <div class="pull-left iw-stat">
    <div class="iw-bedunit">beds</div>
    <div class="iw-bed">{{beds}}</div>
    </div>

    <div class="pull-left iw-stat">
    <div class="iw-bathunit">baths</div>
    <div class="iw-bath">{{baths}}</div>
    </div>

    <div class="pull-left iw-stat">
    <div class="iw-sleepunit">sleeps</div>
    <div class="iw-sleep">{{accomodates}}</div>
    </div>

    <div class="pull-right iw-stat">
    <div class="iw-priceunit">per night</div>
    <div class="iw-price">{{price}}</div>
    </div>
    </div>
    </div>
    {{/listings}}
    {{#nolistings}}
    <div class="col-sm-6 col-md-4">
    No listings found.
    </div>
    {{/nolistings}}
    </script>
    <script type="text/html" id="fb-infowindow-tpl">
    <!--<button type="button" class="close" aria-hidden="true" id="fb-close-card">×</button>-->
    <!--<div class="fb-listing">
    <div class="l-title">
    {{title}}
    </div>
    <img src="{{imageUrls.0}}" width="263" height="110" />
    <div class="l-desc">
    {{shortDescription}}
    </div>
    </div> -->
    <div class="iw-image" style="background: url('{{imageUrls.0}}')">
    <div class="iw-title">{{title}}</div>
    </div>
    <div class="iw-foot">
    <div class="pull-right">
    <div class="iw-price">{{price}}</div>
    <div class="iw-priceunit">per night</div>
    </div>
    <div class="iw-shortdesc">2 bedroom apartment</div>
    <div class="iw-location">Le plateau, Montreal</div>
    <button type="button" class="btn btn-primary">More details</button>
    </div>
    </script>
    <div id="fb-overlay">
        &nbsp;</div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="fb-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" id="fb-menu">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <h1>
                    <a href="index.html" class="navbar-brand" id="fb-logo"><strong class="sr-only">FLATBOOK</strong>
                    </a>
                </h1>
                <div id="fb-omni2" class="form-inline">
                    <div class="form-group form-inline fb-search-type">
                        <label class="sr-only" for="keywords2">
                            Enter a city to find an apartment in</label>
                        <input type="text" class="form-control input-lg" id="fb-keywords2" placeholder="Where are you going?">
                        
                        <!-- <div class="input-group-btn">
                                <a class="btn btn-default btn-lg" id="fb-search-btn2" href="#" role="button">
                                    <span class="ladda-label glyphicon glyphicon-pencil"></span>
                                </a>
                            </div> -->
                   <!-- </div>
                    <div class="form-group form-inline">-->
                        <a class="btn btn-primary btn-lg btn-fb" id="fb-drawer-button" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="Narrow your search">
                             <span class="ladda-label glyphicon glyphicon-cog"></span> 
                        </a>
                    </div>
                     <div id="fb-filters" class="form-group form-inline">
                    <label class="sr-only" for="fb-checkin">
                        Check in date
                    </label>
                    <input type="text" class="form-control" id="fb-ft-checkin" placeholder="Check in">
                    <label class="sr-only" for="fb-checkout">
                        Check out date
                    </label>
                    <input type="text" class="form-control" id="fb-ft-checkout" placeholder="Check out">
                    <label class="sr-only" for="fb-ft-guests">
                        Guests</label>
                    <select class="form-control" placeholder="Guests" id="fb-ft-guests">
                        <option>1 guest</option>
                        <option>2 guests</option>
                        <option>3 guests</option>
                        <option>4 guests</option>
                        <option>5 guests</option>
                        <option>6 guests</option>
                        <option>7 guests</option>
                        <option>8 guests</option>
                    </select>
                </div>
                    <!-- <div class="form-group form-inline fb-search-type">
                        <div class="btn-group">
                          <button type="button" class="btn btn-fb" id="fb-map-type">Map <span class="glyphicon glyphicon-map-marker"></span></button>
                          <button type="button" class="btn btn-fb" id="fb-list-type">List <span class="glyphicon glyphicon-list"></span></button>
                      </div>
                  </div> -->
                    <!-- </form> -->
                    <div id="fb-error2" class="hiddenfb fb-error alert alert-danger">
                        Oh, snap!</div>
                </div>
               
                <div class="fb-nav" id="fb-nav" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">HOME</a> </li>
                        <li><a href="about.html">CONTACT</a> </li>
                        <li><a href="jobs.html">JOBS</a> </li>
                        <li><a href="contact.html">CONTACT</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="map-canvas">
    </div>
    <img src="img/bg2.jpg" id="fb-bg" class="bg" />
    <img src="img/bg.jpg" id="fb-bg2" class="bg" />
    <div id="fb-holder2">
        <div class="container">
            <div id="fb-omni" class="omni">
                <div class="holder">
                    <h2 id="fb-city">
                        Montreal, QC, Canada</h2>
                    <h2 id="fb-slogan">
                        Because everywhere should feel like home</h2>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <div class="input-group" id="fb-search">
                            <label class="sr-only" for="keywords">
                                Enter a city to find an apartment in</label>
                            <input type="text" class="form-control input-lg" id="fb-keywords" placeholder="Where are you going?" />
                            <span class="input-group-btn"><a class="btn btn-fb btn-lg ladda-button zoom-out"
                                href="#" role="button" id="fb-search-btn1"><span class="ladda-label"><span class="glyphicon glyphicon-search">
                                </span></span></a></span>
                        </div>
                        <div id="fb-error" class="hiddenfb fb-error alert alert-danger">
                            Oh, snap!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="results-button" id="fb-resultsbutton">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <div class="fb-results">
            <span id="fb-numresults" class="number">0</span> listings found
        </div>
    </div>
    <div id="fb-citiesFooter">
        <div class="container showCities">
            <div id="fb-citiesBtn" class="button">
                <div id="fb-citiesShow">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <div>
                        show cities</div>
                </div>
                <div id="fb-citiesHide">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    <div>
                        hide cities</div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-3">
                        <h3 class="footer_header">
                            Canada
                        </h3>
                        <ul>
                            <li>Montreal</li>
                            <li>Toronto</li>
                            <li>Quebec City</li>
                            <li>Vancouver</li>
                            <li>Victoria</li>
                            <li>Ottawa</li>
                            <li>Calgary</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="footer_header">
                            United States
                        </h3>
                        <ul>
                            <li>Honolulu</li>
                            <li>Chicago</li>
                            <li>Boston</li>
                            <li>Philadelphia</li>
                            <li>New Orleans</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-listings">
        <div class="container">
            <h2>
                Listings</h2>
            <div id="fb-listings-results" class="row">
            </div>
        </div>
    </div>
    <div class="results-button" id="fb-resultsbutton" data-toggle="tooltip" title="View listings">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <br />
        <span id="fb-numresults" class="number">0</span> listings found
    </div>
    <div id="fb-mapbutton">
        <a href="#" class="btn btn-fb btn-lg"><span class="glyphicon glyphicon-map-marker"></span> back to map</a></div>
    </div>
    <div class="results-button" id="fb-listingbutton">
        <a href="#" class="btn btn-fb btn-lg"><span class="glyphicon glyphicon-list"></span> back to listings</a></div>
        <span class="glyphicon glyphicon-chevron-left"></span>back
    </div>
    <!-- <div class="results-button" id="fb-filtersbutton">
    <span class="glyphicon glyphicon-chevron-up"></span> <br />
    <span class="button-text">show filters</span>
</div> -->
    <div id="fb-listing">
        <div class="container" data-spy="scroll" data-offset="190" data-target="#navbar">
            <div class="row">
                <!-- <div class="col-md-2 something"> -->
                <div class="affix fb-li-menu">
                    <div id="navbar">
                        <ul class="nav">
                            <li><a href="#li-photos">Photos</a></li>
                            <li><a href="#li-desc">Description</a></li>
                            <li><a href="#li-amen">Amenities</a></li>
                            <li><a href="#li-cal">Calendar</a></li>
                            <li><a href="#li-loc">Location</a></li>
                            <li><a href="#li-terms">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    <div class="fb-li-price">
                        <div class="iw-price">
                            $250</div>
                        <div class="iw-priceunit">
                            per night</div>
                        <button class="btn btn-fb">
                            Book now</button>
                    </div>
                </div>
                <!--   </div> -->
                <div class="col-md-10 col-md-offset-2 fb-li-listing" id="fb-listing-result">
                </div>
            </div>
        </div>
    </div>
    <div id="fb-selected-listing">
        <div class="fb-card clearfix" id="listing-1" data-beds="3" data-baths="2" data-avail-start="12/26/2013,01/31/2014,"
            data-avail-end="01/05/2014,02/28/2014,">
            <div class="iw-image" style="background: url('img/thumb2.jpg')">
                <div class="iw-title">
                    Two Story, 2BR Plateau Apartment</div>
            </div>
            <div class="iw-foot">
                <div class="iw-location">
                    Le plateau, Montreal</div>
                <div class="iw-shortdesc">
                    Located right beside the famous Mont-Royal Avenue, you will find many little cafés,
                    restaurants, boutiques and a truly charming ambiance.</div>
                <div class="pull-left iw-stat">
                    <div class="iw-bedunit">
                        beds</div>
                    <div class="iw-bed">
                        3</div>
                </div>
                <div class="pull-left iw-stat">
                    <div class="iw-bathunit">
                        baths</div>
                    <div class="iw-bath">
                        2</div>
                </div>
                <div class="pull-left iw-stat">
                    <div class="iw-sleepunit">
                        sleeps</div>
                    <div class="iw-sleep">
                        7</div>
                </div>
                <div class="pull-right iw-stat">
                    <div class="iw-priceunit">
                        per night</div>
                    <div class="iw-price">
                        $250</div>
                </div>
            </div>
        </div>
    </div>
    <!-- filters -->
    <!-- <div id="fb-filters" class="hiddenfb">
    <div id="fb-filters-panel">
        <h3>Narrow your results</h3>
        <h4>Dates and people</h4>
        <div class="form-group form-inline">
            <label class="" for="fb-ft-checkin">From</label>
            <input type="text" class="form-control" id="fb-ft-checkin" placeholder="Check in">
        </div>
        <div class="form-group form-inline">
            <label class="" for="fb-ft-checkout">To</label>
            <input type="text" class="form-control" id="fb-ft-checkout" placeholder="Check out">
        </div>
        <div class="form-group form-inline">
            <label class="" for="fb-ft-guests">Guests</label>
            <select class="form-control" placeholder="Guests" id="fb-ft-guests">
                <option>1 guest</option>
                <option>2 guests</option>
                <option>3 guests</option>
                <option>4 guests</option>
                <option>5 guests</option>
                <option>6 guests</option>
                <option>7 guests</option>
                <option>8 guests</option>
            </select>
        </div>
        <h4>Accomodation specifics</h4>
        <div class="form-group form-inline">
            <label class="" for="fb-ft-beds">Beds</label>
            <select class="form-control" placeholder="Beds" id="fb-ft-beds">
                <option value="" selected>Choose</option>
                <option value="1">1 bed</option>
                <option value="2">2 beds</option>
                <option value="3">3 beds</option>
                <option value="4">4 beds</option>
                <option value="5+">5+ beds</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label class="" for="fb-ft-baths">Baths</label>
            <select class="form-control" placeholder="Baths" id="fb-ft-baths">
                <option value="" selected>Choose</option>
                <option value="2">2 baths</option>
                <option value="3+">3+ baths</option>
            </select>
        </div>
        <button type="button" class="btn btn-success" id="fb-applyFilters">Filter</button>
    </div>
</div> -->
    <div id="fb-nothing">
    </div>
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/jquery-scrollto.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcFtsUu5eM6OZeUbDKaV5mwGsDIgA9ZGc&amp;sensor=false"></script>
    <script src="js/gmaps.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>
    <script src="js/typeahead.min.js"></script>
    <script src="js/moment.min.js"></script>
    <!-- <script src="js/bootstrap-datetimepicker.min.js"></script> -->
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.history.js"></script>
    <script src="js/flatbook.js"></script>
    <script src="js/ladd.js"></script>
    <!-- <script src="js/ladda.min.js"></script>
    <script src="js/spin.min.js"></script> -->
    <script src="js/theme.js"></script>
</body>
</html>
