/* general styles */

/* fullscreen, baby! */
 html, body {
    height:100%;
    overflow:hidden;
}
body {
    background-color: #000000 !important;
    opacity: 0;
    visibility: hidden;
}
#fb-overlay {
    height: 100%;
    width:100%;
    position: absolute;
    display: none;
    background: rgba(0,0,0, 0.65);
    z-index: 2;
    opacity: 0;
}
/* nav */
 #fb-nav {
    visibility: hidden;
    display: none;
}
#fb-navbar {
    z-index: 6 !important;
    height: 90px;
    background-color: transparent;
}
.navbar-header {
    width: 100%;
}
.navbar h1 {
    display: inline;
}
.navbar-inverse .navbar-toggle {
    border: none;
}
#fb-navbar .navbar-header button {
    display: block;
}
.navbar.navbar-inverse {
    background: transparent;
    border: none !important;
}
.fb-search-type {
    margin-left: 10px;
}
.fb-search-type button span {
    margin-left: 5px;
}
#fb-logo {
    background-image: url('../../img/flatbook.png');
    background-size: 162px 45px;
    width: 162px;
    height: 45px;
    margin-left: 0;
}
/* map */
 #map-canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0;
    left:0;
}
.bg {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
    opacity: 0.75;
    top: 0;
}
#fb-bg2 {
    position: absolute;
    opacity: 0;
}
/* footer */
#fb-listings {
    min-height: 260px;
    color: #fff;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    overflow-y: scroll;
    opacity: 0;
    z-index: -1; 
    position: relative;
    height: 100%;
    padding-bottom: 400px;
}
#fb-citiesFooter {
    position: absolute;
    width: 100%;
    top:100%;
    z-index: 7;
}

#fb-selected-listing {
    position: absolute;
    z-index: 10;
    right: 100px;
    top: 110px;
    opacity: 0;
    display: none;
}
.footer .footer_header {
    color: #c4c4c4;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15px;
}
.footer {
    background-color: #252528;
    height: 1000px;
}
.button {
    background: rgba(29, 114, 75, 0.75);
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}
.contain {
    text-align: center;
}
#fb-holder2 {
    position: relative;
    z-index:10;
    margin-top: 90px;
}
#fb-citiesBtn {
    position: relative;
    height: 100%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.showCities {
    text-align: center;
    height: 45px;
    margin-top: -45px;
    z-index: 3;
    position: relative;
}
.bhide {
    margin-top: -40px;
}

.active-cities {
    margin-top: -500px !important;
}

/* search */
 .omni {
    position: relative;
    z-index: 5;
    text-align: center;
}
@media (min-width: 768px) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 /*   .omni {
        left: 17.5%;
        width: 60%;
    }
    #fb-search {
        max-width: 780px;
    }*/
}

.visible-md .omni {
    width: 75%; background: red;
}
.omni h2 {
    color: #ffffff;
    font-family:'Source Sans Pro', sans-serif !important;
    font-size: 40px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.fb-error {
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
}
#fb-slogan, #fb-city {
    visibility: hidden;
    opacity: 0;
}
.holder {
    position: relative;
}
.omni input {
    display: inline;
    width: 75%;
}
#fb-search {
    visibility: hidden;
    opacity: 0;
}
/* second search */
 #fb-omni2 {
    /*position: absolute;
    z-index: 5; */
    visibility: hidden;
    opacity: 0; 
    margin-top: 5px;
}
/* filters */
#fb-filtersBtn {
    text-align: center;
    width: 100px;
    position: absolute;
    top: 40%;
    right: 245px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

.search {
    width:30%;
}
.hiddenfb, #sfb-filtersHide, #fb-resultsbutton, #fb-mapbutton, #fb-listingbutton, #fb-filtersbutton, #fb-drawer, #fb-card, #fb-nothing {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.die {
    visibility: hidden !important;
    opacity: 0 !important;
    display: none !important;
}

.shown, #fb-filtersShow, #fb-filtersHide {
    visibility: visible;
    opacity: 1;
    display: block;
}
#fb-drawer {
    z-index: 3;
    padding: 5px 5px 6px 9px;
    background: rgba(255, 255, 255, 0.25);
    margin-left: -7px;
}
#fb-drawer-button {
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 6px !important;
    -webkit-border-bottom-right-radius: 6px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 6px !important;
    -moz-border-radius-bottomright: 6px !important;
    -moz-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 0 !important;
    margin-left: -3px;
}
#fb-search-btn2 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#fb-filters label {
    width: 50px;
    color: #999;
}
#fb-filters h4 {
    padding: 5px;
    background: rgba(0, 0, 0, 0.25);
}
#fb-filters-panel {
    background-color: #666666;
    border: 1px solid #000000;
    height: 100%;
    float: left;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    padding-top: 10px;
}
.datepicker {
    background: #FFF;
    color: #000;
}
#fb-filters-panel h3 {
    margin-top: 0;
}
#fb-filters2 {
    position: absolute;
}
#fb-search2 {
    z-index: 4;
    margin-left: 30px;
}
.filters {
    text-align: center;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #666;
}

#fb-filters {
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 352px;
    text-align: center;
    padding: 5px;
    background: #339E74;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#fb-filters input, #fb-filters select {
    margin-right: 10px;
    background: #fff;
    color: #000;
}
#fb-ft-checkin, #fb-ft-checkout, #fb-ft-guests {
    width: 100px;
    background-color: #e8e8e8;
}
#fb-keywords2 {
    width: 300px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#fb-omni2 input:focus, #fb-omni2 select:focus {
    background: #ffffff;
    color: #000000;
}
#fb-keywords2
{
    background: rgba(255, 255, 255, 0.35);
    color: #fff;
    border: 0;
    
    /*color: #2F916B;
    border: 0;*/
}

#fb-omni2 input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c4c4c4;
}
#fb-omni2 input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
#fb-omni2 input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
}
#fb-omni2  input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}


/**/
/*bootstrap overrides*/
/**/

.btn-fb {
    color: #FFF;
    background-color: #339e74;
    border-color: #277758;
}
.btn-fb:hover, .btn-fb:focus, .btn-fb:active, .btn-fb.active, .open .dropdown-toggle.btn-fb {
    color: #FFF;
    background-color: #277758;
    border-color: #164432;
}
.input-fb-lg {
    height: 40px;
    font-size: 17px;
}
.input-md {
    height: 35px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1;
    border-radius: 6px;
}

#fb-mapbutton, #fb-listingbutton {
    position: absolute;
    top: 88px;
    width: 200px;
    margin-left: -100px;
    left: 50%;
    padding: 10px 0 15px;
    z-index: 100;
}
#fb-mapbutton a, #fb-listingbutton a {
    width: 200px;
}
#fb-resultsbutton {
    bottom: 0px;
    width: 270px;
    margin-left: -135px;
    left: 50%;
}
#fb-filtersbutton {
    text-align: center;
    width: 100px;
    position: absolute;
    top: 40%;
    right: -102px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
    width: 250px;
    z-index: 100;
}
.results-button {
    position: absolute;
    display: inline-block;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-border-top-left-radius: 75px;
    -webkit-border-top-right-radius: 75px;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright: 75px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
    z-index: 7;
    color: #ffffff;
    text-align: center;
}

#fb-resultsbutton:hover, .fb-card, .row {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    padding-bottom: 15px;
}
/*.results-button:hover {
    background: rgba(29, 114, 75, 0.75) !important;
}*/
.number {
    color: #9ABC32;
    font-weight: bold;
    font-size: 140%;
}

#fb-card {
    position: absolute;
}
.gm-style-iw .iw-shortdesc, .gm-style-iw .iw-location {
    border-bottom: none;
    padding-bottom: 0; 
    margin-bottom: 0;
}
.fb-card:hover {
    margin-top:5px;
    -webkit-box-shadow: 0 0 20px 2px #39cd89;
    box-shadow: 0 0 20px 2px #39cd89;
    /*background-color:#1D724B;*/
    cursor: pointer;
}
.fb-card {
    background-color: white;
    padding: 10px;
    width: 250px;
    margin:10px;
}
.fb-card .iw-desc {
    width: 300px;
    margin-left: 10px;
}
#fb-infowindow {
    /*position:absolute;
    z-index: 4;
    width: 300px;
    height: 500px;
    right: 20%;
    top: 100px; */
    width: 273px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: center;
}
.iw-title {
    font-weight: bold !important;
    color: #ffffff;
    font-size: 120% !important;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
}
.iw-image {
    
    padding-top: 170px;
}
.iw-foot {
    padding: 5px;
    overflow: auto;
    text-align: center;
}
.iw-foot button {
    margin-top: 15px;
}
.iw-price, .iw-bed, .iw-bath, .iw-sleep {
    font-size: 130% !important;
    font-weight: bold !important;
    color: #008000;
}
.iw-bed, .iw-bath, .iw-sleep {
    color: #357EBD;
    text-align: center;
}
.iw-stat {
    margin-right: 10px;
}
.iw-desc {
    padding-bottom: 5px;
    text-align: left;
}
.iw-shortdesc, .iw-foot {
    color: #6F6F6F;
}
.iw-location, .iw-shortdesc {
    margin-bottom: 10px;
    text-align: left;
    color: #333;
}

.iw-shortdesc {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    text-align: left;
}
/* typeahead override */
 ul.typeahead {
    width: 100%;
    text-align: left;
}
/* override bootstrap */
 .btn-lg {
    height: 45px;
}
.overlay {
    display: block;
    text-align: center;
    color: #FFF;
    font-size: 60px;
    height: 40px;
    opacity: 0.9;
    background: #339e74;
    border: solid 1px #164432;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 1px;
    width: 25px;
}
.overlay_arrow.above {
    bottom: -17px;
    position: relative;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #164432;
}





/**/
/* listing */
/**/
#fb-listing {
    position: absolute;
    z-index: 99;
    top: 40px;
    /*width: 90%;
    margin-left: 5%;*/
    height: 100%;
    opacity: 0;
    visibility: visible;
    margin-top: 50px;
    display: none;
    width: 100%;
    padding-top: 60px;
    background: rgba(0, 0, 0, 0.6);
}
#fb-listing .row {
    background-color: #F1F1F1;
}

.fb-li-menu {
    width: 160px;
    padding-top: 100px;
    text-align: right;
    border-top: 1px solid #ccc;
}
@media (min-width: 1200px) { 
    .fb-li-menu {
        width: 200px;
    }
}
.fb-li-menu .navbar {
    padding-right: 10px;
}
.fb-li-listing {
    background-color: #ffffff;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #CCC;
}
#fb-listing .container {
    background: white;
    height: 100%;
    padding-bottom: 90px;
    overflow-y: scroll;

}
.nav>li.active a {
    color: #2F916B;
    font-weight: bold;
}
.fb-li-price {
    text-align: center;
    font-size: 140%;
    padding: 15px 0;
    margin-top: 100px;
}
.fb-li-price .iw-priceunit {
    margin-bottom: 15px;
}
