/* general styles */


html, body {
    height: 100%;
}
body {
    background-color: #ffffff !important;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #333333;
}
/* nav */
 #fb-nav {
    visibility: hidden;
    display: none;
    margin-top: 10px;
}
#fb-navbar {
    z-index: 6 !important;
    background: transparent;
    min-height: 100px;
}
.navbar h1 {
    display: inline;
}
#fb-menu {
    display: block;
}
.navbar-inverse .navbar-toggle {
    border: none;
}
#fb-navbar .navbar-header button {
    display: block;
}
.navbar.navbar-inverse {
    background: none;
    border: none !important;
}
.navbar .navbar-header {
    float: left;
}
.navbar-toggle .icon-bar {
    height: 4px;
}
.navbar {
    padding: 20px 0px;
}
#fb-logo img{
    width: 162px;
    height: 45px;
    margin-left: 10px;
    position: absolute;
}

.fb-header {
    position: relative;
    background: rgba(0, 0, 0, 0.25);
}
.fb-header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
}
.fb-header, .fb-header-splash {
    text-align: center;
    min-height: 257px;
}

.fb-header-splash {
    margin-top: 15%;
}

.fb-header h2 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 62px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    color: #fff;
}

.fb-header-splash h2 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    color: #fff;
    border-top: 4px solid #FFF;
    line-height: 112px;
    border-bottom: 4px solid #FFF;
    display: inline;
}

@media (min-width: 768px) { 
    .fb-header-splash h2 {
        font-size: 64px;
    }
}


@media (min-width: 992px) {
    .fb-header-splash h2 {
        font-size: 86px;
    }
}


.navbar.navbar-inverse .nav > li {
    width: 80%;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) { 
    .navbar.navbar-inverse .nav > li {
        width: inherit;
    }
}

.navbar.navbar-inverse .nav > li > a {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #fff !important;
    opacity: 1;
    text-align: left;
}
.navbar-inverse .navbar-nav>.active>a {
    background: transparent;
}
.content {
    margin-top: 75px;
    margin-bottom: 50px;
}

.navbar-nav>li:hover {
    background: rgba(0, 0, 0, 0.5);
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -110px;
    padding: 0 0 60px;
}
#footer {
    height: 60px;
    font-size: 80%;
    padding-top: 50px;
}
#footer a.active {
    color: rgb(65, 156, 116);
}
#footer a, #footer a:visited {
    color: #999;
}
#footer p {display:inline}