<!DOCTYPE html>
<html>

<head>
    <title>FLATBOOK</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="css/compiled/bootstrap-overrides.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/compiled/theme.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/compiled/index.css" type="text/css" media="screen" />

    <!-- <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-datetimepicker.min.css"
    media="screen, projection" /> -->
    <link rel="stylesheet" type="text/css" href="css/lib/datepicker.css" media="screen, projection" />
    <!-- <link rel="stylesheet" type="text/css" href="css/compiled/ladda.min.css" media="screen, projection" /> -->
    <link rel="stylesheet" type="text/css" href="css/compiled/ladd.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/compiled/flatbook.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/compiled/menu.css" media="screen, projection" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>

<body class="pull_top splash" id="body">
    <script type="text/html" id="fb-listing-tpl">
        <div class="fb-card" id="selListing-{{id}}">
        <a href="#" class="card-nav pull-left" id="fb-card-prev"><span class="glyphicon glyphicon-backward"></span> Previous</a>
        <a href="#" class="card-nav pull-right" id="fb-card-next">Next <span class="glyphicon glyphicon-forward"></span></a>

        <div class="iw-image" style="background: url('{{imageUrls.0}}')">
        <div class="iw-title">{{title}}</div>
        </div>

        <div class="iw-foot">
        <div class="iw-location">{{location}}</div>
        <div class="iw-shortdesc">{{shortDescription}}</div>

        <div class="pull-left iw-stat">
        <div class="iw-bedunit">beds</div>
        <div class="iw-bed">{{beds}}</div>
        </div>

        <div class="pull-left iw-stat">
        <div class="iw-bathunit">baths</div>
        <div class="iw-bath">{{baths}}</div>
        </div>

        <div class="pull-left iw-stat">
        <div class="iw-sleepunit">sleeps</div>
        <div class="iw-sleep">{{accomodates}}</div>
        </div>

        <div class="pull-right iw-stat">
        <div class="iw-priceunit">per night</div>
        <div class="iw-price">{{price}}</div>
        </div>
        </div>
        <div class="iw-actions">
        <a href="#" class="btn btn-fb">Call us</a><a href="#" class="btn btn-fb iw-booknow">Book it</a>
        </div>
        </div>
    </script>
    <script type="text/html" id="fb-listing-result-tpl">
        <div id="li-photos">
        <h2>The Plateau Experience</h2>
        <h3>{{location}}</h3>
        <img src="{{imageUrls.0}}" />
        </div>
        <div id="li-desc">
        <h3>Description</h3>
        {{description}}
        </div>
        <div id="li-amen">
        <h3>Amenities</h3>
        </div>
        <div id="li-cal">
        <h3>Calendar</h3>

        </div>
        <div id="li-loc">
        <h3>Location</h3>
        </div>
        <div id="li-terms">
        <h3>Terms &amp; Conditions</h3>
        {{rules}}
        </div>
    </script>
    <script type="text/html" id="fb-listings-tpl">
        {{#listings}}
        <div class="col-md-10 col-md-offset-1">
        <div class="fb-card clearfix" id="listing-{{id}}" data-beds="{{beds}}" data-baths="{{baths}}" data-avail-start="{{#available}}{{start}},{{/available}}" data-avail-end="{{#available}}{{end}},{{/available}}">
        <img src="{{imageUrls.0}}" />
        <h3>{{title}}</h3>

        <div class="iw-foot">
        <div class="iw-location">Le plateau, Montreal</div>
        <div class="iw-shortdesc">{{shortDescription}}</div>

        <div class="pull-left iw-stat">
        <div class="iw-bedunit">beds</div>
        <div class="iw-bed">{{beds}}</div>
        </div>

        <div class="pull-left iw-stat">
        <div class="iw-bathunit">baths</div>
        <div class="iw-bath">{{baths}}</div>
        </div>

        <div class="pull-left iw-stat">
        <div class="iw-sleepunit">sleeps</div>
        <div class="iw-sleep">{{accomodates}}</div>
        </div>

        <div class="pull-right iw-stat">
        <div class="iw-price">{{price}}</div>
        <div class="iw-priceunit">per night</div>
        </div>
        <div class="pull-right iw-book">
        <button class="btn btn-fb">Book now</button>
        </div>
        </div>
        </div>
        </div>
        {{/listings}}
        {{#nolistings}}
        <div class="col-sm-6 col-md-4">
        No listings found.
        </div>
        {{/nolistings}}
    </script>
    <script type="text/html" id="fb-infowindow-tpl">
        <!--<button type="button" class="close" aria-hidden="true" id="fb-close-card">×</button>-->
        <!--<div class="fb-listing">
        <div class="l-title">
        {{title}}
        </div>
        <img src="{{imageUrls.0}}" width="263" height="110" />
        <div class="l-desc">
        {{shortDescription}}
        </div>
        </div> -->
        <div class="iw-image" style="background: url('{{imageUrls.0}}')">
        <div class="iw-title">{{title}}</div>
        </div>
        <div class="iw-foot">
        <div class="pull-right">
        <div class="iw-price">{{price}}</div>
        <div class="iw-priceunit">per night</div>
        </div>
        <div class="iw-shortdesc">2 bedroom apartment</div>
        <div class="iw-location">Le plateau, Montreal</div>
        <button type="button" class="btn btn-primary">More details</button>
        </div>
    </script>
    <script type="text/html" id="fb-cities-list-tpl">
        {{#countries}}
            <li><strong>{{name}}</strong></li>
            {{#cities}}
                <li><a href="#/explore/{{id}}">{{name}}</a></li>
            {{/cities}}
        {{/countries}}
    </script>
    <div id="fb-overlay">&nbsp;</div>
    <div id="fb-mobilebg"></div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="fb-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" id="fb-menu">
                    <span class="hidden-xs hidden-sm pull-left menu">MENU</span>
                    <div class="pull-left">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </button>
                <h1 id="fb-logo">
                    <img src="img/flatbook.png" width="162px" height="45px" />
                </h1>
                <div id="fb-omni2" class="form-inline">

                    <div class="input-group fb-search-type">
                        <label class="sr-only" for="keywords2">
                            Enter a city to find an apartment in
                        </label>
                        <input type="text" class="form-control input-lg" id="fb-keywords2" placeholder="Where are you going?" autocomplete="off">
                    </div>
                    <div class="input-group hidden-xs hidden-sm" id="fb-resultsbutton">
                        <a href="#" class="">
                            <!-- <span id="fb-numresults" class="number">0</span> listings found. -->list view
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                    </div>

                    <div id="fb-filters">

                        <div class="drawer">
                            <button type="button" class="close" aria-hidden="true" id="fb-close-drawer">×</button>
                            <label for="fb-checkin">Stay from</label>
                            <input type="text" class="active form-control" id="fb-ft-checkin" placeholder="MM/DD/YYYY">
                            <label for="fb-checkout">to</label>
                            <input type="text" class="form-control" id="fb-ft-checkout" placeholder="MM/DD/YYYY">
                            <div class="range">
                                <div class="range-start"></div>
                                <div class="range-end"></div>
                            </div>
                        </div>

                        <div class="drawer">
                            <label for="fb-ft-guests" class="pull-left">Number of Guests</label>
                            <span class="badges">
                                <span class="badge">1</span>
                                <span class="badge">2</span>
                                <span class="badge">3</span>
                                <span class="badge">4</span>
                                <br />
                                <span class="badge">5</span>
                                <span class="badge">6</span>
                                <span class="badge">7</span>
                                <span class="badge">8+</span>
                            </span>
                            <input type="text" class="form-control" placeholder="Guests" id="fb-ft-guests" />

                        </div>
                    </div>
                    <div id="fb-error2" class="hiddenfb fb-error alert alert-danger">
                        Oh, snap!
                    </div>
                </div>

                <div class="fb-nav" id="fb-nav" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="about.html">CONTACT</a>
                        </li>
                        <li>
                            <a href="jobs.html">JOBS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="map-canvas">
    </div>
    <img id="fb-bg" class="bg" />
    <div id="fb-holder2">
        <div class="container">
            <div id="fb-omni" class="omni">
                <div class="holder">
                    <h2 id="fb-city">
                        Montreal, QC, Canada</h2>
                    <!-- <h2 id="fb-slogan">
                    Because everywhere should feel like home</h2> -->
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4">
                        <div class="input-group" id="fb-search">
                            <label class="sr-only" for="keywords">Enter a city to find an apartment in</label>
                            <input type="text" class="form-control input-lg" id="fb-keywords" placeholder="Where are you going?" autocomplete="off" />
                            <span class="input-group-btn">
                                <a class="btn btn-fb btn-lg ladda-button zoom-out" href="#" role="button" id="fb-search-btn1">
                                    <span class="ladda-label">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                </a>
                            </span>
                        </div>
                        <div class="button pull-right" id="fb-cities">
                            our cities
                        </div>
                        <div id="fb-error" class="hiddenfb fb-error alert alert-danger">
                            Oh, snap!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="index.html" class="navbar-brand" id="fb-logo2">
            <strong class="sr-only">FLATBOOK</strong>
        </a>
    </div>

    <div id="fb-citiesFooter">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">
                    <button type="button" aria-hidden="true" id="fb-close-cities">×</button>
                    <h3>OUR CITIES</h3>
                    <ul id="fb-cities-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="fb-listings">
        <div class="container">
            <div id="fb-listings-results" class="row">
            </div>
        </div>
    </div>

    <div id="fb-mapbutton">
        <a href="#" class="btn btn-fb btn-lg">
            <span class="glyphicon glyphicon-map-marker"></span>back to map</a>
    </div>

    <div class="button results-button" id="fb-listingbutton">
        <a href="#" class="btn btn-fb btn-lg">
            <span class="glyphicon glyphicon-list"></span>back to listings</a>
    </div>

    <div id="fb-listing">
        <div class="container" data-spy="scroll" data-offset="190" data-target="#navbar">
            <div class="row">
                <!-- <div class="col-md-2 something"> -->
                <div class="affix fb-li-menu">
                    <div id="navbar">
                        <ul class="nav">
                            <li>
                                <a href="#li-photos">Photos</a>
                            </li>
                            <li>
                                <a href="#li-desc">Description</a>
                            </li>
                            <li>
                                <a href="#li-amen">Amenities</a>
                            </li>
                            <li>
                                <a href="#li-cal">Calendar</a>
                            </li>
                            <li>
                                <a href="#li-loc">Location</a>
                            </li>
                            <li>
                                <a href="#li-terms">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fb-li-price">
                        <div class="iw-price">
                            $250</div>
                        <div class="iw-priceunit">
                            per night</div>
                        <button class="btn btn-fb">Book now</button>
                    </div>
                </div>
                <!--   </div> -->
                <div class="col-md-10 col-md-offset-2 fb-li-listing" id="fb-listing-result">
                </div>
            </div>
        </div>
    </div>
    <div id="fb-selected-listing">
    </div>
    <div id="fb-nothing">
    </div>
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/jquery-scrollto.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcFtsUu5eM6OZeUbDKaV5mwGsDIgA9ZGc&amp;sensor=false"></script>
    <script src="js/gmaps.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/SplitText.min.js"></script>
    <script src="js/typeahead.min.js"></script>
    <script src="js/moment.min.js"></script>
    <!-- <script src="js/bootstrap-datetimepicker.min.js"></script> -->
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/verge.min.js"></script>
    <script src="js/ladd.js"></script>
    <script src="js/sammy.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/flatbook.js"></script>
    <!-- <script src="js/ladda.min.js"></script>
    <script src="js/spin.min.js"></script> -->
    <script src="js/theme.js"></script>
</body>

</html>
